aiofiles==24.1.0
aiogram==3.17.0
aiogram_dialog==2.3.1
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
alembic==1.14.0
annotated-types==0.7.0
APScheduler==3.10.4
async-timeout==4.0.3
attrs==24.3.0
Babel==2.14.0
cachetools==5.3.3
certifi==2024.12.14
contourpy==1.3.1
cycler==0.12.1
fonttools==4.55.3
frozenlist==1.5.0
greenlet==3.1.1
idna==3.10
Jinja2==3.1.3
kiwisolver==1.4.8
magic-filter==1.0.12
Mako==1.3.8
MarkupSafe==3.0.2
matplotlib==3.8.4
multidict==6.1.0
numpy==1.26.4
packaging==24.2
pillow==11.1.0
propcache==0.2.1
pydantic==2.10.5
pydantic-settings==2.7.1
pydantic_core==2.27.2
pymodbus==3.8.3
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
redis==5.0.2
six==1.16.0
SQLAlchemy==2.0.37
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
yarl==1.18.3
